<head>
    <% include ./helperScripts/goodscripts.ejs %>
    <% include ./helperScripts/mainClientJS.ejs %>
</head>

<!--#eb9534; ORANGE  -->

<body style="background-color:rgba(255, 136, 0, 0.788)">
    <% include ./helperScripts/navbar.ejs %>
    <script>
        var allState = true
        function getSenIDs() {
            return "<%= Object.keys(sensorData) %>".split(",")
        }

        function toggleAll() {
            // if (allState) {
            //     $('.dataRow').hide("slow");
            // }
            // else {
            //     for (var i = 0; i < 4; i++) {

            //         $(".cat" + i.toString()).show("slow");
            //     }
            //     $('.dataRow').show("slow");

            // }
            // allState = !allState;'
            for (var i = 0; i <= 4; i++) {
                $(".cat" + i.toString()).show("slow");
            }
            // $('.dataRow').hide();
            $('.dataRow').show("slow");
        }

        function toggleCat(id) {
            for (var i = 0; i <= 4; i++) {
                if ("cat" + i.toString() === id) {
                    $(".cat" + i.toString()).show("slow");
                }
                else {
                    console.log("here")
                    $(".cat" + i.toString()).hide("slow");
                }
            }
        }

    </script>

    <div class="a" style="width: 50px;
    height:50px;
    position:fixed;">
        <img src="https://i.ibb.co/sK46jp2/14aff4d8d807393ac51aec43e8e9807.png" height="100px" width="100px"
            alt="dfrobot">
    </div>
    <div class="container">
        <div class="specialContainer">
            <div class="jumbotron jumboSpecial shadow justify-content-center" style="padding: 0%;display:flex;">
                <div class="container">
                    <h1 class="display">DFRobot</h1>
                    <p class="lead">We do cool things with sensors and put them on the internet. Blah blah blah blah
                        blah
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="display:flex;">
            <button style="flex:1" type="button" class="btn btn-primary shadow-sm border border-dark"
                onclick="toggleAll();">All</button>
            <button style="flex:1" type="button" class="btn btn-secondary shadow-sm border border-dark"
                onclick="toggleCat('cat1')">Temp Sensors</button>
            <button style="flex:1" type="button" class="btn btn-success shadow-sm border border-dark"
                onclick="toggleCat('cat2')">Another
                Category</button>
            <button style="flex:1" type="button" class="btn btn-danger shadow-sm border border-dark"
                onclick="toggleCat('cat3')">3rd
                Categroy</button>
        </div>
        <br>
        <div class="row dataRow justify-content-center">
            <% 
            cardColors=["bg-primary","bg-info","bg-danger","bg-secondary","bg-primary","bg-info","bg-danger","bg-secondary"];
            sensorID=Object.keys(sensorData) 
            %>

            <% for (var i =0; i <sensorID.length+4;  i=i+2 ) { %>
            <% if(i>=sensorID.length){
                break
            }%>
            <div class="col-sm">
                <div
                    class="card text-white <%= cardColors[i] %> mb-3 <%= sensorID[i]%> <%= ' cat'+sensorData[sensorID[i]]['cat']%> shadow border border-dark">
                    <div class="card-header"><%=sensorData[sensorID[i]].senName %>
                        <div style="float: right;">
                            <input id='<%= sensorID[i]+"_checkBox"%>' type="checkbox" data-toggle="toggle" data-on="On"
                                data-off="off" data-onstyle="success" data-offstyle="danger" data-size="sm"
                                onchange="sendNewState('<%= sensorID[i]%>')"
                                <% if(sensorData[sensorID[i]].senOn==true){%> checked
                                <%}%>>
                                
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Data : <%=sensorData[sensorID[i]].senLastReadValue %></h5> <p class="card-text">IDK A pic here
                            maybe and some text that marketing can choose</p>
                        </div>
                    </div>


                    <div
                        class="card text-white <%= cardColors[i+1] %> mb-3 <%= sensorID[i+1]%> <%= "cat"+sensorData[sensorID[i+1]]["cat"]%> shadow border border-dark">
                        <div class="card-header"><%=sensorData[sensorID[i+1]].senName %>
                            <div style="float: right;">

                                <input id='<%= sensorID[i+1]+"_checkBox"%>' type="checkbox" data-toggle="toggle"
                                    data-on="On" data-off="off" data-onstyle="success" data-offstyle="danger"
                                    data-size="sm" onchange="sendNewState('<%= sensorID[i+1]%>')"
                                    <% if(sensorData[sensorID[i+1]].senOn==true){%> checked
                                    <%}%>>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Data : <%=sensorData[sensorID[i+1]].senLastReadValue %></h5> <p class="card-text">IDK A pic here
                                maybe and some text that marketing can choose</p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
</body>